<div class="app flex-column">
    <app-header (toggleSidebar)="toggleSidebar($event)"> </app-header>
    <div class="app-content flex-row">
        <app-side-bar [ngClass]="{'sidebar-invisible': showSidebar !== true, 'sidebar-visible': showSidebar === true}"
            [collections]="collections" (selectedCollection)="selectCollection($event)"></app-side-bar>
        <app-todo class="flex-column align-center flex-100" [collection]="selectedCollection"
            (saveCollectionChanges)="saveAllCollections($event)"></app-todo>
    </div>
</div>