$primary-color: #d63691;
$secondary-color: rgb(112, 196, 191);
$negative-action-color: #F84C6F;
$background-color: #17181f;
$secondary-background-color: #21212b;
$primary-font-family: 'Roboto', sans-serif;
$font-color: #d3d3d3;
$white: #fff
